---
layout: home
title: Exposing where the money flows
---

<div class="p-8 xl:p-12">
  <h1 class="mt-0">Welcome to DataRepublican.com</h1>
  <p>
    Have you ever wondered where the money goes? Billions of dollars are spent on government grants, charities, and other organizations every year.
  </p>
  <p>
    We're connecting the dots between government grants, charities, and drawing connections to expose where the money flows.
  </p>
  <p>
    We've found some interesting connections, and we've made the data available for you to explore.
  </p>
  <p>See what you can find, and if you find something interesting, please <a href="https://x.com/datarepublican" target="_blank">let me know on X</a>!</p>

  <div class="grid @3xl:grid-cols-2 gap-4 @3xl:gap-8 my-8">
    {% include quote.html 
      text="Worth following @DataRepublican."
      author="Elon Musk"
      link="https://x.com/elonmusk/status/1884490061195989176"
    %}
    {% include quote.html 
      text="Love your insights! You’re a must follow on this platform."
      author="Charlie Kirk"
      link="https://x.com/charliekirk11/status/1878821674436714737"
    %}
  </div>

  <div class="hidden md:block">
    {% include footer.html %}
  </div>
</div>
  



