<header class="md:flex-[0_0_300px] flex flex-col gap-4 bg-navy md:h-screen md:overflow-auto md:mx-auto p-2 md:pt-4 text-white">
  <div class="flex-[0_0_auto] flex md:flex-col gap-2 sm:items-center">
    
    <div class="flex-1">
      <a href="/" class="md:hidden">
        <img src="/assets/images/logo-horizontal.png" alt="DataRepublican" class="max-w-[240px] h-auto" alt="DataRepublican" />
      </a>    
      <a href="/" class="hidden md:block">
        <img src="/assets/images/logo-vertical.png" alt="DataRepublican" class="max-w-[220px] h-auto mx-auto" alt="DataRepublican" />
      </a>
    </div>

    <button id="mobile-menu-button" class="md:hidden px-2 py-1.5 rounded text-gray-600 bg-transparent hover:bg-gray-200 flex items-center gap-2 font-semibold">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      <span>Menu</span>
    </button>
  </div>
  <div id="menu-items" class="hidden md:flex flex-1 h-full flex-col justify-between md:gap-1 sm:gap-2">
    <div class="flex-1 flex flex-col gap-0.5">
    {% include nav-link.html 
      title="Charity graph"
      subtitle="Track where the money flows"
      url="/expose"
      classes=""
    %}
    {% include nav-link.html 
      title="Person search"
      subtitle="Identify recipients of grant proceeds"
      url="#"
      classes=""
    %}
    {% include nav-link.html 
      title="Federal grant search"
      subtitle="Map funds to connected organizations"
      url="/award_search"
      classes=""
    %}
    {% include nav-link.html 
      title="Charity funding"
      subtitle="Discover % of taxpayer funds used"
      url="/nonprofit"
      classes=""
    %}
    <button 
      id="election-results-dropdown-button"
      class="flex flex-col text-white no-underline py-1.5 px-3 rounded focus:outline focus:outline-2 focus:outline-blue focus:outline-offset-2 border-2 bg-transparent mb-1 {% if page.url contains '/florida' or page.url contains '/northcarolina' or page.url contains '/pennsylvania' %}is-active border-transparent{% else %}border-transparent hover:border-white/75 hover:bg-white/10{% endif %} relative group"
      {% if include.target %}target="{{ include.target }}"{% endif %}
    >
      <strong class="text-sm">Voter turnout analysis</strong>
      <span class="opacity-70 text-[13px]">2024 vs. previous elections</span>
      <span class="absolute top-[calc(50%-.625rem)] right-2 size-5 opacity-50 group-hover:opacity-100 transition-transform rotate-90">
        {% include icon-chevron.html %}
      </span>
    </button> 

    <div 
      id="election-results-dropdown"
      class="h-0 overflow-hidden transition-all duration-300 flex flex-col gap-0.5"
    >
      {% include nav-link.html 
        title="Florida"
        url="/florida"
        classes=""
        icon="fl"
      %}
      {% include nav-link.html 
        title="North Carolina"
        url="/northcarolina"
        classes=""
        icon="nc"
      %}
      {% include nav-link.html 
        title="Pennsylvania"
        url="/pennsylvania"
        classes=""
        icon="pa"
      %}
    </div>
  </div>
  <div class="flex flex-col gap-0.5">
    {% include nav-link.html 
      title="Donate"
      subtitle="Help support our work"
      url="/donate"
      classes="!border-green bg-green/20 hover:bg-green hover:text-navy relative [&_.right-icon]:text-green"
      right-icon="gift"
    %}
    {% include nav-link.html 
      title="Follow on X"
      subtitle="@datarepublican"
      url="https://x.com/datarepublican"
      target="_blank"
      classes="relative "
      right-icon="twitter"
    %}
  </div>
    

  </div>
</header>

<script>
  $(document).ready(function() {
    const $dropdownButton = $('#election-results-dropdown-button');
    const $dropdownContent = $('#election-results-dropdown');
    const $chevron = $dropdownButton.find('span:last-child');
    
    // Get the full height of the hidden content
    $dropdownContent.css('height', 'auto');
    const expandedHeight = $dropdownContent.outerHeight();
    
    // Check if we're on an election results page
    const isElectionPage = $dropdownButton.hasClass('is-active');
    
    // Set initial state
    if (isElectionPage) {
      $dropdownContent.removeClass('h-0').css('height', expandedHeight);
      $chevron.toggleClass('rotate-90 -rotate-90');
    } else {
      $dropdownContent.css('height', 0);
    }

    $dropdownButton.on('click', function() {
      const isExpanded = $dropdownContent.height() !== 0;
      
      // Toggle the dropdown
      $dropdownContent.css('height', isExpanded ? 0 : expandedHeight);
      $dropdownContent.toggleClass('h-0');
      
      // Toggle the chevron rotation classes
      $chevron.toggleClass('rotate-90 -rotate-90');
    });
  });
</script>



