<div class="inline-flex flex-col gap-1">
  <div class="">
    <label class="text-sm font-semibold" for="{{ include.id }}">{{ include.label }}</label>
    {% if include.actions %}
    <span class="inline-block ml-1">{{ include.actions }}</span>
    {% endif %}
  </div>
  <div class="flex items-center gap-1.5">
    <input type="text" id="{{ include.id }}" placeholder="{{ include.placeholder }}" class="px-2 py-2 md:py-1 rounded text-sm border border-gray-300 flex-1 md:flex-none" />
    <button id="{{ include.buttonId }}" class="whitespace-nowrap">{{ include.buttonLabel }}</button>
  </div>
</div>
