<a 
  href="{{ include.url }}" 
  class="group flex no-underline py-1.5 px-3 rounded focus:outline focus:outline-2 focus:outline-blue focus:outline-offset-2 border-2 {% assign current_path = page.url | strip | split: '?' | first %}{% assign link_path = include.url | strip | split: '?' | first %}{% if current_path contains '.html' %}{% assign current_path = current_path | split: '.html' | first %}{% endif %}{% if current_path contains '/' %}{% assign current_path = current_path | remove: '/' | prepend: '/' %}{% endif %}{% if link_path contains '/' %}{% assign link_path = link_path | remove: '/' | prepend: '/' %}{% endif %}{% if current_path == link_path %}border-blue bg-blue/20 !text-white{% else %}border-transparent hover:border-white/75 hover:bg-white/10{% endif %} {% if include.icon %}items-center gap-2 text-white/80 hover:text-white{% else %}flex-col text-white{% endif %} select-none {{ include.classes }}"
  {% if include.target %}target="{{ include.target }}"{% endif %}
  title="{{ current_path}} | {{ link_path }}"
>
  {% if include.icon %}
    <span class="size-5 fill-current">{% include icon-{{ include.icon }}.html %}</span>
  {% endif %}
  <strong class="md:text-sm{% if include.icon %} font-semibold{% endif %}">
    {{ include.title }}
    {% if include.new %}
      <span class="bg-green px-1 py-0.5 rounded-sm font-semibold uppercase text-xs ml-1">New</span>
    {% endif %}
  </strong>
  {% if include.subtitle %}
    <span class="opacity-70 text-sm md:text-[13px]">{{ include.subtitle }}</span>
  {% endif %}
  {% if include.right-icon %}
    <span class="right-icon inline-block absolute right-2 top-[calc(50%-0.75rem)] size-6 {% if include.right-icon == 'gift' %}group-hover:text-navy{% endif %}">{% include icon-{{ include.right-icon }}.html %}</span>
  {% endif %}
</a> 