<div class="bg-white p-4 border border-gray-200 rounded mb-4">
  <h3 class="border-b border-gray-200 pb-2"><span id="countMethod"></span></h3>
  <div class="grid md:grid-cols-2 md:gap-8">
    <div>
      <div class="mb-4">
        <h4 id="countTOTAL" class="text-2xl m-0"></h4>
        <p id="countMethodDetails" class="text-sm"></p>
      </div>
      <div id="addendum" class="mb-4"></div>
      <p class="text-xs text-gray-500">
        Advantage is calculated against 2016 vote totals.
      </p>
    </div>
    <div>
      <strong>Details</strong>
      <span id="countTOTALdetails"></span>
    </div>
  </div>
</div>