<div class="bg-gray-200 border border-gray-300 p-3 rounded mb-4 text-sm flex gap-2">
  <div className="shrink-0">
    {% include icon.html name="info" size="5" class="-mt-1 opacity-50" %}
  </div>
  <div class="flex-1">
    <p class="mb-0"><strong>Oct. 26 2024 update:</strong> This map is updating for
      2024. <strong>Follow <a href="https://twitter.com/DataRepublican" target="_blank"
          rel="noopener noreferrer">@DataRepublican</a> in case the site goes down.</strong></p>
  </div>
</div>