<div class="bg-white p-4 border border-gray-200 rounded mb-8 grid md:grid-cols-4">
  <h3 class="border-b border-gray-200 pb-2 mb-4 md:col-span-4">Breakdown</h3>
  <div class="pr-4 lg:pr-8">
    <h3 class="text-blue-500">Democrat</h3>
    <span id="countDEM"></span>
  </div>
  <div class="border-y md:border-y-0 md:border-x border-gray-200 py-4 my-4 md:py-0 md:my-0 md:px-4 lg:px-8">
    <h3 class="text-red">Republican</h3>
    <span id="countREP"></span>
  </div>
  <div class="md:col-span-2 md:pl-4 lg:pl-8">
    <h3>Unaffiliated</h3>
    <span id="countNPA"></span>
  </div>
</div>