---
layout: default
title: Donate
---

<div class="max-w-3xl mx-auto">
  <p class="text-sm text-gray-500 pt-8">Donate</p>

<h1 class="mt-0">Support our work</h1>
<div class="md:float-right mb-2 md:ml-4">
<img src="/assets/images/avatar.jpg" alt="DataRepublican" width="200" class="rounded">
</div>
<p>
  I'm <a href="https://x.com/datarepublican" target="_blank" class="text-blue">@DataRepublican</a>, working hard to bring you the most transparent and insightful data on government spending and contracts.
  </p>
  <p>
    While I'm grateful for the support from those who appreciate my work, I'm just a small part of a larger movement towards accountability.
  </p>
  <p>
    If you find value in what I do, would you consider supporting financially? It helps me continue this journey, ensuring that I can keep providing these insights independently. Every little bit supports the mission, and I truly appreciate your consideration.
  </p>
  <p>
    Thank you for being part of this with me.
  </p>

  <h3 class="border-b border-gray-300 pb-2 mb-4">Send a one-time donation</h3>
<p class="mb-12 leading-9">
  {% include donate-button.html url="https://buy.stripe.com/eVacOd7Rr78l8JW4gh" amount="10" %}
  {% include donate-button.html url="https://buy.stripe.com/00gdSh8VvdwJ0dq7su" amount="25" %}
  {% include donate-button.html url="https://buy.stripe.com/cN2cOdefPeANd0c8wz" amount="50" %}
  {% include donate-button.html url="https://buy.stripe.com/eVa6pP6Nn64h0dqeUY" amount="100" %}
  {% include donate-button.html url="https://buy.stripe.com/5kA4hH2x73W92ly3cn" amount="250" %}
  {% include donate-button.html url="https://buy.stripe.com/aEU8xX0oZ2S55xK4gs" amount="500" %}
  {% include donate-button.html url="https://buy.stripe.com/6oE5lL1t3fER1hucMZ" amount="1000" %}
  {% include donate-button.html url="https://donate.stripe.com/3cs5lL8Vv9gtbW8aEE" amount="Custom amount" %}
</p>
  

  <h3 class="border-b border-gray-300 mt-8 pb-2 mb-4">Set up a recurring donation (monthly)</h3>
  <p class="leading-9">
  {% include donate-button.html url="https://buy.stripe.com/eVa9C18VveAN0dqaEJ" amount="10" recurring=true %}
  {% include donate-button.html url="https://buy.stripe.com/4gw29z8Vv0JX6BOcMS" amount="25" recurring=true %}
  {% include donate-button.html url="https://buy.stripe.com/dR629zfjTboBd0caEL" amount="50" recurring=true %}
  {% include donate-button.html url="https://buy.stripe.com/8wMg0pdbL1O1gco6ow" amount="100" recurring=true %}
  {% include donate-button.html url="https://buy.stripe.com/bIY9C18VvboB2ly28h" amount="250" recurring=true %}
  {% include donate-button.html url="https://buy.stripe.com/dR601rfjTfERd0c7sC" amount="500" recurring=true %}
</p>


<p class="text-[13px] text-gray-500 mt-12 pt-8 border-t border-gray-300">
  All payments are securely processed by Stripe. <em>Donations are not tax-deductible.</em>
</p>

</div>