---
layout: default
title: Florida Early Voting Statistics
image: https://joeisdone.github.io/assets/images/og-fl.png
---

<script src="./map-config.js"></script>
<script src="./map-interact.js"></script>
<script src="./pins-config.js"></script>
<script>

	{% include colors.html %}

	var counties = {};

	// Formatted like: 
	// "Highlands" : { "trumpVotes": 29565, "trumpPct": 0.6471, "clintonVotes": 14937, "clintonPct": 0.3269 }, 	

	var early2016Data = {};
	var election2016Data = {};
	var liveData = {};

	/*
			'#cc0000'; // dark red
			'#ff0000'; // bright red
			'#ff8080'; // pinkish red
			'#ffb3b3'; // pinky
			'#ffe6e6'; // light pink
			'#e6e6ff'; // light blue
			'#8080ff'; // less light blue
			'#4d4dff'; // medium blue
			'#0000ff'; // bright blue
			'#0000cc'; // dark blue
	*/

	// TOTAL, NPA, REP, DEM
	var partyType = "TOTAL";

	// total, EarlyVoting, Mail, ElectionDay
	var methodType = "total";

	// turnout2016, turnout2016Clinton, turnout2016Trump, ev, split
	// early2016TOTAL, early2016REP, early2016DEM, early2016NPA
	var turnoutType = "split";

	// Numerators: 
	// NPA -> No Party
	// TOTAL -> Total
	// REP -> Republican
	// DEM -> Democrat
	// Denominators:
	// ev -> early votes (mail + early, total)
	// trumpVotes -> Trump votes 2016
	// clintonVotes -> Clinton votes 2016
	// total -> 2016 votes
	function setHover(county, numeratorType, nVal, denominatorType, dVal, pct) {
		const hoverId = counties[county];
		if (!hoverId) {
			console.log("Unable to set hover for " + county);
			return;
		}
		// Numerator type should be formatted like this: 
		// All early votes, all parties: <num>
		// Mail-in votes, Republican: <num>
		var methodStr = "All votes";
		if (methodType === "Mail") {
			methodStr = "Mail votes";
		} else if (methodType === "EarlyVoting") {
			methodStr = "In-person votes";
		} else if (methodType === "ElectionDay") {
			methodStr = "Election Day votes";
		}

		var partyStr = "all parties";
		if (numeratorType === "NPA") {
			partyStr = "unaffliated";
		} else if (numeratorType === "DEM") {
			partyStr = "Democrat";
		} else if (numeratorType === "REP") {
			partyStr = "Republican";
		}
		var numeratorStr = methodStr + ", " + partyStr + ":<b>" + nVal + "</b>";
		//console.log(numeratorStr);

		var denominatorStr = "";
		if ("ev" === denominatorType) {
			denominatorStr = methodStr + ", all parties:<b>" + dVal + "</b>";
		} else {
			denominatorStr = denominatorType.includes("2024") ? "2024 " : "2016 ";
			if ("trumpVotes" === denominatorType) {
				denominatorStr += "Trump";
			} else if ("clintonVotes" === denominatorType) {
				denominatorStr += "Clinton";
			} else if ("total" === denominatorType) {
				denominatorStr += "total";
			} else if ("earlyNPA" === denominatorType) {
				denominatorStr += "unaffiliated early";
			} else if ("earlyDEM" === denominatorType) {
				denominatorStr += "Democrat early";
			} else if ("earlyREP" === denominatorType) {
				denominatorStr += "Republican early";
			} else if ("earlyTOTAL" === denominatorType) {
				denominatorStr += "total early";
			} else if ("reg2024DEM" === denominatorType) {
				denominatorStr += "Democrat registered";
			} else if ("reg2024REP" === denominatorType) {
				denominatorStr += "Republican registered";
			} else if ("reg2024NPA" === denominatorType) {
				denominatorStr += "unaffiliated registered";
			} else if ("reg2024TOTAL" === denominatorType) {
				denominatorStr += "registered";
			}
			else {
				console.log("Unknown denominator " + denominatorType);
			}

			denominatorStr += denominatorType.includes("reg2024") ? " active voters" : " votes";
			denominatorStr += ":<b>" + dVal + "</b>";
		}
		usfljsconfig[hoverId].hover = county + "<br /><small>" +
			numeratorStr + "<br />" +
			denominatorStr + "<br />" +
			"Percent: <b>" + pctToString(pct) + "</b>" +
			"</small>";
		//console.log("setHover called " + county + ":" + nVal + ":" + dVal + ":" + pctToString(pct));
	}

	function updateTotals() {
		// countMethod countDEM countREP countIND countTOTAL
		// var methodText = "Vote totals (IPEV + VBM + Election Day)";
		var methodText = "Total votes counted";
		var methodTextDetails = "In-person early voting + vote by mail";
		var methodShort = "IPEV+VBM";
		// var methodShort = "cumulative";
		if (methodType === "Mail") {
			methodText = "Vote totals (VBM only)";
			methodShort = "VBM";
		}
		if (methodType === "EarlyVoting") {
			methodText = "Vote totals (IPEV only)";
			methodShort = "IPEV";
		}
		if (methodType == "Election Day") {
			methodText = "Vote totals (Election Day only)";
			methodShort = "ED";
		}

		const total = liveData['TOTAL']['TOTAL'][methodType];
		const demTotal = liveData['TOTAL']['DEM'][methodType];
		const repTotal = liveData['TOTAL']['REP'][methodType];
		const npaTotal = liveData['TOTAL']['NPA'][methodType];

		const repPct = pctToString((repTotal + 0.0) / (total + 0.0));
		const demPct = pctToString((demTotal + 0.0) / (total + 0.0));
		const npaPct = pctToString((npaTotal + 0.0) / (total + 0.0));

		//  "TOTAL" : { "trumpVotes": 4617886, "trumpPct": 0.4902, "clintonVotes": 4504975, "clintonPct": 0.4782, "total": 9420039 }}
		const turnout2016Total = election2016Data['TOTAL']['total'];
		const clinton2016Total = election2016Data['TOTAL']['clintonVotes'];
		const trump2016Total = election2016Data['TOTAL']['trumpVotes'];

		const early2016Total = early2016Data['TOTAL']['TOTAL'];
		const repEarly2016Total = early2016Data['TOTAL']['REP'];
		const demEarly2016Total = early2016Data['TOTAL']['DEM'];
		const npaEarly2016Total = early2016Data['TOTAL']['NPA'];

		const turnoutPct = pctToString((total + 0.0) / (turnout2016Total + 0.0));
		const clintonPct = pctToString((demTotal + 0.0) / (clinton2016Total + 0.0));
		const trumpPct = pctToString((repTotal + 0.0) / (trump2016Total + 0.0));
		const gap = demTotal - repTotal;

		const earlyPct = pctToString((total + 0.0) / (early2016Total + 0.0));
		const repEarlyPct = pctToString((repTotal + 0.0) / (repEarly2016Total + 0.0));
		const demEarlyPct = pctToString((demTotal + 0.0) / (demEarly2016Total + 0.0));
		const npaEarlyPct = pctToString((npaTotal + 0.0) / (npaEarly2016Total + 0.0));

		const pctGap = pctToString((demTotal + 0.0) / (total + 0.0) - (repTotal + 0.0) / (total + 0.0));
		const pctEarlyGap = pctToString((demEarly2016Total + 0.0) / (early2016Total + 0.0) - (repEarly2016Total + 0.0) / (early2016Total + 0.0));
		var pctPctGap = (
			((demTotal + 0.0) / (total + 0.0) - (repTotal + 0.0) / (total + 0.0)) -
			((demEarly2016Total + 0.0) / (early2016Total + 0.0) - (repEarly2016Total + 0.0) / (early2016Total + 0.0))
		);

		// Number of NPA votes in red counties
		var numNpaRedCounties = 0.0;
		var numNpaBlueCounties = 0.0;
		// Number of NPA votes if splitting proportionally between D-R ratios
		var numNpaSplitR = 0.0;
		var numNpaSplitD = 0.0;
		var numNpaTotal = 0.0;

		$.each(liveData, function (county, data) {
			if (county === "TOTAL" || county === "TIMESTAMP") return;

			// Get the NPA total for that county and method. 
			const npaCountyLevel = getTotalWithFallback(data, 'NPA', methodType);

			// Get dem share for that county
			const demCountyLevel = getTotalWithFallback(data, 'DEM', methodType);
			const repCountyLevel = getTotalWithFallback(data, 'REP', methodType);;

			const demCountySharePct = (demCountyLevel + 0.0) / (demCountyLevel + repCountyLevel + 0.0);
			if (isNaN(demCountySharePct)) return;

			const repCountySharePct = 1.0 - demCountySharePct;
			numNpaSplitR += repCountySharePct * npaCountyLevel;
			numNpaSplitD += demCountySharePct * npaCountyLevel;
			numNpaTotal += npaCountyLevel;
		});

		const numNpaSplitRPct = pctToString(numNpaSplitR / numNpaTotal);
		const numNpaSplitDPct = pctToString(numNpaSplitD / numNpaTotal);
		const npaSplitGapPctRaw = (numNpaSplitD / numNpaTotal) - (numNpaSplitR / numNpaTotal);
		const npaSplitGapPct = pctToString(npaSplitGapPctRaw);

		// Get the 2016 equivalents. 
		var numNpaSplitR2016 = 0.0;
		var numNpaSplitD2016 = 0.0;
		var numNpaTotal2016 = 0.0;

		$.each(early2016Data, function (county, data) {
			if (county === "TOTAL" || county === "TIMESTAMP") return;
			const demCountyLevel = data['DEM'];
			const repCountyLevel = data['REP'];
			const npaCountyLevel = data['NPA'];

			const demCountySharePct = (demCountyLevel + 0.0) / (demCountyLevel + repCountyLevel + 0.0);
			const repCountySharePct = 1.0 - demCountySharePct;
			numNpaSplitR2016 += repCountySharePct * npaCountyLevel;
			numNpaSplitD2016 += demCountySharePct * npaCountyLevel;
			numNpaTotal2016 += npaCountyLevel;
		});
		const numNpaSplitRPct2016 = pctToString(numNpaSplitR2016 / numNpaTotal2016);
		const numNpaSplitDPct2016 = pctToString(numNpaSplitD2016 / numNpaTotal2016);
		const npaSplitGapPct2016Raw = (numNpaSplitD2016 / numNpaTotal2016) - (numNpaSplitR2016 / numNpaTotal2016);
		const npaSplitGapPct2016 = pctToString(npaSplitGapPct2016Raw);

		// omg, gap of gaps... 
		const npaGapGap = pctToString(npaSplitGapPctRaw - npaSplitGapPct2016Raw);


		const npaSplitStr = "<div class='bg-gray-100 border border-gray-200 mt-2 p-2 rounded text-sm max-w-sm'>" +
			"<strong>Split estimate</strong><br/>" + "Democrats: " + Math.floor(numNpaSplitD) + " (" + numNpaSplitDPct + ")<br/>" +
			"Republicans: " + Math.floor(numNpaSplitR) + " (" + numNpaSplitRPct + ")<br/>" +
			"Difference: (D-R) <b>" + Math.floor(numNpaSplitD - numNpaSplitR) + " (<span style=\"background-color:#faffc4;\">" + npaSplitGapPct + "</span>) </b><br/>" +
			"2016 overall split: " + numNpaSplitDPct2016 + "D - " + numNpaSplitRPct2016 + "R, gap " + npaSplitGapPct2016 +
			"<div class='border-t border-gray-200 pt-2 mt-2 text-xs text-opacity-75'>Estimated by proportional assignment of NPAs by county R/D share</div></div>";

		var pctGapDesc = pctPctGap < 0 ? "Trump" : "Harris";
		var pctGapColor = pctPctGap < 0 ? "bg-red-50 border-red-500" : "bg-blue-50 border-blue-500";
		var gap2016Desc = "2016 D-R ratio: " + pctToString((demEarly2016Total + 0.0) / (early2016Total + 0.0)) + " D - " +
			pctToString((repEarly2016Total + 0.0) / (early2016Total + 0.0)) + " R, Gap: " +
			pctEarlyGap;
		var gap2024Desc = "2024 " + methodShort + " D-R ratio: " + demPct + " D - " + repPct + " R, Gap: " + pctGap;
		var gapAdvantage = "Advantage: <strong>" + pctGapDesc + " by " + pctToString(Math.abs(pctPctGap)) + "</strong>";

		const addendum = "<div class='rounded px-4 py-2 border " + pctGapColor + "'>" + gapAdvantage + "</div>";

		$('#countMethod').text(methodText);
		$('#countMethodDetails').text(methodTextDetails);
		$('#countTOTAL').html("<strong>" + formatNumber(total) + "</strong>");
		$('#countTOTALdetails').html("<div class='text-sm'>" + turnoutPct + " of 2016 total turnout</div><div class='text-sm'>" + earlyPct + " of 2016 early turnout</div>" + "<div class='mt-4 text-sm'>D-R gap (raw): <b>" + gap + "</b></div>");
		$('#addendum').html(addendum);
		$('#countDEM').html("<strong>" + formatNumber(demTotal) + "</strong> (" + demPct + ")<div class='text-sm'>" + clintonPct + " of 2016 Clinton votes</div><div class='text-sm'>" + demEarlyPct + " of 2016 Democrat votes" + cannibalizationBlurb('DEM'));
		$('#countNPA').html("<strong>" + formatNumber(npaTotal) + "</strong> (" + npaPct + ")<div class='text-sm'>" + npaEarlyPct + " of 2016 NPA votes</div>" + cannibalizationBlurb('NPA') + npaSplitStr);
		$('#countREP').html("<strong>" + formatNumber(repTotal) + "</strong> (" + repPct + ")<div class='text-sm'>" + trumpPct + " of 2016 Trump votes</div><div class='text-sm'>" + repEarlyPct + " of 2016 Republican votes" + cannibalizationBlurb('REP'));
	}


	// Get denominator from county given type
	// Possible types are: 
	// ev -> early votes (mail + early, total)
	// trumpVotes -> Trump votes 2016
	// clintonVotes -> Clinton votes 2016
	// total -> 2016 votes
	// earlyTOTAL -> early 2016 votes
	// earlyDEM -> early 2016 dem votes
	// earlyREP -> early 2016 rep votes
	// earlyNPA -> early 2016 npa votes
	function getDenominator(type) {
		console.log("getDenominator called for " + type);
		var lookup = {};
		if (type === "ev") {
			$.each(liveData, function (k, v) {
				if (k === "TIMESTAMP") return;
				if ('TOTAL' in v) {
					if (methodType in v['TOTAL']) {
						lookup[k] = v['TOTAL'][methodType];
					} else {
						console.log(methodType + " not available for " + k);
					}
				} else {
					console.log("Error looking up total for " + k);
				}
			});
		} else if (type.includes("early")) {
			const party = type.replace("early", "");
			$.each(early2016Data, function (k, v) {
				lookup[k] = v[party];
			});
		} else if (type.includes("reg2024")) {
			const party = type.replace("reg2024", "");
			$.each(election2016Data, function (county, v) {
				lookup[county] = v["registration2020"][party]
			});
		} else {
			$.each(election2016Data, function (k, v) {
				lookup[k] = v[type];
			});
		}
		return lookup;
	}





	// Handle split ratio separately.
	function doSplit(isAdvantage) {
		var repNums = getNumerator("REP");
		var demNums = getNumerator("DEM");
		var npaNums = getNumerator("NPA");
		var totalNums = getNumerator("TOTAL");
		resetHover();

		$.each(demNums, function (k, v) {
			const myid = counties[k];
			if (!myid || !totalNums[k] || totalNums[k] <= 0 || !repNums[k]) {
				console.log("Unknown total: " + k);
				return;
			}

			const demPct = (v + 0.0) / (totalNums[k] + 0.0);
			const demPct2016 = election2016Data[k]['clintonPct'];
			const repPct = (repNums[k] + 0.0) / (totalNums[k] + 0.0);
			const repPct2016 = election2016Data[k]['trumpPct'];

			const demEarlyPct = early2016Data[k]['DEMpct'];
			const repEarlyPct = early2016Data[k]['REPpct'];
			const npaEarlyPct = early2016Data[k]['NPApct'];
			const partyDiff = (v - repNums[k]);
			var partyDiffDesc = partyDiff < 0.0 ? ("" + partyDiff) : ("+" + partyDiff);
			partyDiffDesc = " (" + partyDiffDesc + ")";
			//console.log(k + ":" + pctToString(demPct) + "-" + pctToString(repPct));

			// Fill in the hover. 
			var methodStr = "All votes";
			if (methodType === "Mail") {
				methodStr = "Mail votes";
			} else if (methodType === "EarlyVoting") {
				methodStr = "In-person votes";
			} else if (methodType === "ElectionDay") {
				methodStr = "Election Day votes";
			}

			var gap = (demPct - repPct) - (demEarlyPct - repEarlyPct);
			var gapDesc = gap <= 0.0 ? " Advantage: Trump" : "Advantage: Harris";
			var pctDescColor = gap <= 0.0 ? "bg-red-50 border-red-500" : "bg-blue-50 border-blue-500";

			// raw votes 
			var gapRaw = Math.ceil((gap * totalNums[k])) * -1;
			gapDesc += " (";
			gapDesc += gap <= 0.0 ? ("+" + formatNumber(gapRaw)) : ("" + formatNumber(gapRaw));
			gapDesc += " votes)";


			const splitColor = isAdvantage ? getSplitAdvantageColor(gap) : getSplitColor(repPct, demPct);
			usfljsconfig[myid].upColor = splitColor;
			usfljsconfig[myid].downColor = splitColor;
			$('#' + myid).attr({ fill: splitColor });

			usfljsconfig[myid].hover = "<h4 class='mb-1'>" + k + "</h4>" + "<div class='col-span-2 text-sm border rounded px-2 py-1 mb-2 " + pctDescColor + "'>" + gapDesc + "</div><div class='text-sm grid grid-cols-2 gap-2'>" +
				"<div>" + methodStr + ", Democrat:</div> <strong>" + v + " (" + pctToString(demPct) + ")</strong>" +
				"<div>" + methodStr + ", Republican:</div> <strong>" + repNums[k] + " (" + pctToString(repPct) + ")</strong>" +
				"<div>2024 Difference (D-R):</div> <div><strong>" + pctToString(demPct - repPct) + "</strong> " + partyDiffDesc + "</div>" +
				"<div>2016 comparison:</div> Clinton: " + pctToString(demPct2016) + "<br />Trump: " + pctToString(repPct2016) + "" +
				"<div>2016 Votes:</div> Dem: " + pctToString(demEarlyPct) + "<br />Rep: " + pctToString(repEarlyPct) + "<br />No party aff: " + pctToString(npaEarlyPct) + "" +
				"<div>2016 Difference (D-R):</div> <strong>" + pctToString(demEarlyPct - repEarlyPct) + "</strong>" +
				"2024-2016 Vote Gap: <strong>" + pctToString(Math.abs(gap)) + "</strong></div>";
		});

	}

	function doUpdate() {
		$('#turnoutFilter').val(turnoutType);
		$('#methodFilter').val(methodType);
		$('#partyFilter').val(partyType);


		// This is the easy denominator - 
		// we just color on a gradient. 
		if (turnoutType.includes("turnout2016")) {
			// trumpVotes -> Trump votes 2016
			// clintonVotes -> Clinton votes 2016
			// total -> 2016 votes
			var pct = {}
			if (turnoutType.includes("Trump")) {
				pct = getPercentages(partyType, "trumpVotes");
			} else if (turnoutType.includes("Clinton")) {
				pct = getPercentages(partyType, "clintonVotes");
			} else {
				pct = getPercentages(partyType, "total");
			}
			colorGradient(partyType, pct);
		}
		else if (turnoutType.includes("early2016")) {
			// early2016TOTAL, early2016REP, early2016DEM, early2016NPA
			const denomType = turnoutType.replace("2016", "");
			pct = getPercentages(partyType, denomType);
			colorGradient(partyType, pct);
		} else if (turnoutType.includes("reg2024")) {
			pct = getPercentages(partyType, turnoutType);
			colorGradient(partyType, pct);
		} else if (turnoutType === "allEarly") {
			var pct = getPercentages(partyType, "ev");
			colorGradient(partyType, pct);
		}
		else if (turnoutType.includes("split")) {
			if (turnoutType === "split") {
				doSplit(false);
			} else if (turnoutType === "splitAdvantage") {
				doSplit(true);
			}
		}

		/*			var test = getPercentages('REP', 'ev');
				colorGradient('REP', test);
		*/
		updateTotals();
		$.each(counties, function (k, v) {
			$('#' + v).mouseenter().mouseleave();
		});
	}

	$(document).ready(function () {
		$.getJSON('https://raw.githubusercontent.com/joeisdone/joeisdone.github.io/master/json/florida.json', function (data) {
			liveData = data;
			// Format the timestamp to be more human-readable
			const timestamp = liveData['TIMESTAMP'].replace(' EST', '');
			const date = new Date(timestamp);
			const options = {
				weekday: 'short',
				month: 'short',
				day: 'numeric',
				year: 'numeric',
				hour: 'numeric',
				minute: '2-digit',
				timeZoneName: 'short'
			};
			$('#timestamp').text(date.toLocaleString('en-US', options));
			$.getJSON('https://joeisdone.github.io/json/florida2016_reg.json', function (data2016) {
				election2016Data = data2016;
				$.getJSON('https://joeisdone.github.io/json/early2016_revised.json', function (early2016) {
					early2016Data = early2016;
					$.each(usfljsconfig, function (key, value) {
						if (!key || !value || !(value.hover)) {
							return;
						}

						countyName = value.hover.toLowerCase()
							.split(' ')
							.map((s) => s.charAt(0).toUpperCase() + s.substring(1))
							.join(' ')
							.replace('-dade', '-Dade')
							.replace('Desoto', 'DeSoto');

						value.hover = countyName;
						counties[countyName] = key;
					});

					$('#partyFilter').change(function () {
						partyType = this.value;
						doUpdate();
					});

					$('#turnoutFilter').change(function () {
						turnoutType = this.value;
						doUpdate();
					});

					$('#methodFilter').change(function () {
						methodType = this.value;
						doUpdate();
					});

					doUpdate();
				});
			});

		});

		// Set initial active button
		const defaultButton = document.querySelector('button[onclick*="methodType=\'total\';turnoutType=\'split\'"]');
		if (defaultButton) {
			defaultButton.classList.add('active');
		}
	});

	function setActiveButton(clickedButton) {
		// Remove active class from all buttons
		document.querySelectorAll('button').forEach(button => {
			button.classList.remove('active');
		});

		// Add active class to clicked button
		clickedButton.classList.add('active');
	}
</script>

<h1>Florida early voting statistics</h1>
<p class="text-sm">Auto-updated: <span id="timestamp"></span></p>
<p class="text-sm mb-4">Data updates every 20 minutes (computer uptime permitting). <a
		href="https://raw.githubusercontent.com/joeisdone/joeisdone.github.io/master/json/florida.json">Try refreshing the
		feed directly</a> if you have caching issues.
</p>

{% include update.html %}

{% include total_votes.html year="2016" %}

{% include votes_breakdown.html %}


<div class="flex flex-col md:flex-row md:gap-4 max-w-7xl mx-auto">
	<aside class="order-2 md:order-1 md:max-w-xs lg:max-w-sm xl:max-w-lg">
		<h3>Vote breakdowns</h3>

		<div class="flex flex-col gap-1">
			<div class="radio-group mb-2">

				{% include radio-button.html name="voteType" value="total-split" methodType="total" turnoutType="split"
				label="All votes" checked=true %}

				<!-- <button onclick="methodType='ElectionDay';turnoutType='split';doUpdate();">
					Election Day votes only</button> -->


				{% include radio-button.html
				name="voteType"
				value="early-split"
				methodType="EarlyVoting"
				turnoutType="split"
				label="Early votes: In-person only"
				%}

				{% include radio-button.html
				name="voteType"
				value="mail-split"
				methodType="Mail"
				turnoutType="split"
				label="Early votes: Mail only"
				%}

				{% include radio-button.html
				name="voteType"
				value="total-advantage"
				methodType="total"
				turnoutType="splitAdvantage"
				label="Advantage map"
				%}
			</div>
		</div>

		{% include advantage_tip.html %}

		<h3 class="mt-6">Compare 2024 current turnout vs. 2016 early votes</h3>

		<div class="radio-group mb-2">

			{% include radio-button.html
			name="voteType"
			value="total-split"
			methodType="total"
			turnoutType="early2016TOTAL"
			partyType="TOTAL"
			label="All votes"
			%}

			{% include radio-button.html
			name="voteType"
			value="early-split"
			methodType="total"
			turnoutType="early2016DEM"
			partyType="DEM"
			label="Democrats"
			%}

			{% include radio-button.html
			name="voteType"
			value="early-split"
			methodType="total"
			turnoutType="early2016REP"
			partyType="REP"
			label="Republicans"
			%}

			{% include radio-button.html
			name="voteType"
			value="early-split"
			methodType="total"
			turnoutType="early2016NPA"
			partyType="NPA"
			label="Unaffiliated"
			%}
		</div>

		<h3 class="mt-6">Compare 2024 early votes vs. active registrations</h3>

		<div class="radio-group mb-2">

			{% include radio-button.html
			name="voteType"
			value="total-split"
			methodType="total"
			turnoutType="reg2024TOTAL"
			partyType="TOTAL"
			label="All votes"
			%}

			{% include radio-button.html
			name="voteType"
			value="early-split"
			methodType="total"
			turnoutType="reg2024DEM"
			partyType="DEM"
			label="Democrats"
			%}

			{% include radio-button.html
			name="voteType"
			value="early-split"
			methodType="total"
			turnoutType="reg2024REP"
			partyType="REP"
			label="Republicans"
			%}

			{% include radio-button.html
			name="voteType"
			value="early-split"
			methodType="total"
			turnoutType="reg2024NPA"
			partyType="NPA"
			label="Independents"
			%}
		</div>


		<h3 class="mt-6">Advanced</h3>
		<div class="inline-grid grid-cols-2 gap-2">

			<span>Filter by vote type</span>
			<select id="methodFilter">
				<option value="total" selected="selected">All votes</option>
				<!-- <option value="ElectionDay">Election Day votes only</option> -->
				<option value="EarlyVoting">In-person early voting only</option>
				<option value="Mail">Mail in votes only</option>
			</select>

			<span>Denominator</span>
			<select id="turnoutFilter">
				<option value="reg2024TOTAL">Total voter registrations</option>
				<option value="reg2024DEM">Democrat voter registrations</option>
				<option value="reg2024REP">Republican voter registrations</option>
				<option value="reg2024NPA">Unaffiliated voter registrations</option>

				<option value="early2016TOTAL">2016 total votes</option>
				<option value="early2016DEM">2016 Democrat votes</option>
				<option value="early2016REP">2016 Republican votes</option>
				<option value="early2016NPA">2016 unaffiliated votes</option>
				<option value="turnout2016">2016 total votes</option>
				<option value="turnout2016Clinton">2016 Clinton votes</option>
				<option value="turnout2016Trump">2016 Trump votes</option>
				<option value="allEarly">All party early votes</option>
				<option value="splitAdvantage">Advantage split (ignores party)</option>
				<option value="split" selected="selected">R/D split (ignores party)</option>
			</select>

			<span>Filter by party</span>
			<select id="partyFilter">
				<option value="TOTAL" selected="selected">All parties</option>
				<option value="DEM">Democrat</option>
				<option value="REP">Republican</option>
				<option value="NPA">NPA (unaffiliated)</option>
			</select>

	</aside>
	<div class="flex-1">
		<h3>Explore by county</h3>

		<span id="usfljstip"></span>
		<div id="mapwrapper">
			<div id="mapbase"><!-- V4.1 -->
				{% include map-florida.html %}
			</div>
		</div>
	</div>
</div>
<br />
<div id="dataTable"></div>
<a href="https://joeisdone.github.io/">Back to Joe is done.</a>