@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */
body {
  @apply bg-black text-neutral-600 font-['Open_Sans',_Helvetica,_sans-serif] font-light m-4 py-0.5 mb-4;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  padding: 5px;
}

table {
  margin-bottom: 5px;
}