---
layout: default
title: Pennsylvania early voting statistics
---

<script src="./map-config.js"></script>
<script src="./map-interact.js"></script>
<script src="./pins-config.js"></script>
<script>

	{% include colors.html %}

	var counties = {};

	// Formatted like: 
	// "Highlands" : { "trumpVotes": 29565, "trumpPct": 0.6471, "bidenVotes": 14937, "bidenPct": 0.3269 }, 	

	var early2020Data = {};
	var election2020Data = {};
	var liveData = {};

	/*
			'#cc0000'; // dark red
			'#ff0000'; // bright red
			'#ff8080'; // pinkish red
			'#ffb3b3'; // pinky
			'#ffe6e6'; // light pink
			'#e6e6ff'; // light blue
			'#8080ff'; // less light blue
			'#4d4dff'; // medium blue
			'#0000ff'; // bright blue
			'#0000cc'; // dark blue
	*/

	// TOTAL, NPA, REP, DEM
	var partyType = "TOTAL";

	// total, EarlyVoting, Mail, ElectionDay
	var methodType = "total";

	// turnout2020, turnout2020biden, turnout2020Trump, ev, split
	// early2020TOTAL, early2020REP, early2020DEM, early2020NPA
	var turnoutType = "split";

	// Numerators: 
	// NPA -> No Party
	// TOTAL -> Total
	// REP -> Republican
	// DEM -> Democrat
	// Denominators:
	// ev -> early votes (mail + early, total)
	// trumpVotes -> Trump votes 2020
	// bidenVotes -> biden votes 2020
	// total -> 2020 votes
	function setHover(county, numeratorType, nVal, denominatorType, dVal, pct) {
		const hoverId = counties[county];
		if (!hoverId) {
			console.log("Unable to set hover for " + county);
			return;
		}
		// Numerator type should be formatted like this: 
		// All early votes, all parties: <num>
		// Mail-in votes, Republican: <num>
		var methodStr = "All votes";
		if (methodType === "Mail") {
			methodStr = "Mail votes";
		} else if (methodType === "EarlyVoting") {
			methodStr = "In-person votes";
		} else if (methodType === "ElectionDay") {
			methodStr = "Election Day votes";
		}

		var partyStr = "all parties";
		if (numeratorType === "NPA") {
			partyStr = "unaffliated";
		} else if (numeratorType === "DEM") {
			partyStr = "Democrat";
		} else if (numeratorType === "REP") {
			partyStr = "Republican";
		}
		var numeratorStr = methodStr + ", " + partyStr + ":<b>" + nVal + "</b>";
		//console.log(numeratorStr);

		var denominatorStr = "";
		if ("ev" === denominatorType) {
			denominatorStr = methodStr + ", all parties:<b>" + dVal + "</b>";
		} else {
			denominatorStr = denominatorType.includes("2024") ? "2024 " : "2020 ";
			if ("trumpVotes" === denominatorType) {
				denominatorStr += "Trump";
			} else if ("bidenVotes" === denominatorType) {
				denominatorStr += "biden";
			} else if ("total" === denominatorType) {
				denominatorStr += "total";
			} else if ("earlyNPA" === denominatorType) {
				denominatorStr += "unaffiliated early";
			} else if ("earlyDEM" === denominatorType) {
				denominatorStr += "Democrat early";
			} else if ("earlyREP" === denominatorType) {
				denominatorStr += "Republican early";
			} else if ("earlyTOTAL" === denominatorType) {
				denominatorStr += "total early";
			} else if ("reg2024DEM" === denominatorType) {
				denominatorStr += "Democrat registered";
			} else if ("reg2024REP" === denominatorType) {
				denominatorStr += "Republican registered";
			} else if ("reg2024NPA" === denominatorType) {
				denominatorStr += "unaffiliated registered";
			} else if ("reg2024TOTAL" === denominatorType) {
				denominatorStr += "registered";
			}
			else {
				console.log("Unknown denominator " + denominatorType);
			}

			denominatorStr += denominatorType.includes("reg2024") ? " active voters" : " votes";
			denominatorStr += ":<b>" + dVal + "</b>";
		}
		usfljsconfig[hoverId].hover = county + "<br /><small>" +
			numeratorStr + "<br />" +
			denominatorStr + "<br />" +
			"Percent: <b>" + pctToString(pct) + "</b>" +
			"</small>";
		//console.log("setHover called " + county + ":" + nVal + ":" + dVal + ":" + pctToString(pct));
	}

	function updateTotals() {
		// countMethod countDEM countREP countIND countTOTAL
		// var methodText = "Vote totals (IPEV + VBM + Election Day)";
		var methodText = "Total votes counted";
		var methodTextDetails = "In-person early voting + vote by mail";
		var methodShort = "IPEV+VBM";
		// var methodShort = "cumulative";
		if (methodType === "Mail") {
			methodText = "Vote totals (VBM only)";
			methodShort = "VBM";
		}
		if (methodType === "EarlyVoting") {
			methodText = "Vote totals (IPEV only)";
			methodShort = "IPEV";
		}
		if (methodType == "Election Day") {
			methodText = "Vote totals (Election Day only)";
			methodShort = "ED";
		}

		const total = liveData['TOTAL']['TOTAL'][methodType];
		const demTotal = liveData['TOTAL']['DEM'][methodType];
		const repTotal = liveData['TOTAL']['REP'][methodType];
		const npaTotal = liveData['TOTAL']['NPA'][methodType];

		const repPct = pctToString((repTotal + 0.0) / (total + 0.0));
		const demPct = pctToString((demTotal + 0.0) / (total + 0.0));
		const npaPct = pctToString((npaTotal + 0.0) / (total + 0.0));

		//  "TOTAL" : { "trumpVotes": 4617886, "trumpPct": 0.4902, "bidenVotes": 4504975, "bidenPct": 0.4782, "total": 9420039 }}
		const turnout2020Total = election2020Data['TOTAL']['total'];
		const biden2020Total = election2020Data['TOTAL']['bidenVotes'];
		const trump2020Total = election2020Data['TOTAL']['trumpVotes'];

		const early2020Total = early2020Data['TOTAL']['TOTAL'];
		const repEarly2020Total = early2020Data['TOTAL']['REP'];
		const demEarly2020Total = early2020Data['TOTAL']['DEM'];
		const npaEarly2020Total = early2020Data['TOTAL']['NPA'];

		const turnoutPct = pctToString((total + 0.0) / (turnout2020Total + 0.0));
		const bidenPct = pctToString((demTotal + 0.0) / (biden2020Total + 0.0));
		const trumpPct = pctToString((repTotal + 0.0) / (trump2020Total + 0.0));
		const gap = demTotal - repTotal;

		const earlyPct = pctToString((total + 0.0) / (early2020Total + 0.0));
		const repEarlyPct = pctToString((repTotal + 0.0) / (repEarly2020Total + 0.0));
		const demEarlyPct = pctToString((demTotal + 0.0) / (demEarly2020Total + 0.0));
		const npaEarlyPct = pctToString((npaTotal + 0.0) / (npaEarly2020Total + 0.0));

		const pctGap = pctToString((demTotal + 0.0) / (total + 0.0) - (repTotal + 0.0) / (total + 0.0));
		const pctEarlyGap = pctToString((demEarly2020Total + 0.0) / (early2020Total + 0.0) - (repEarly2020Total + 0.0) / (early2020Total + 0.0));
		var pctPctGap = (
			((demTotal + 0.0) / (total + 0.0) - (repTotal + 0.0) / (total + 0.0)) -
			((demEarly2020Total + 0.0) / (early2020Total + 0.0) - (repEarly2020Total + 0.0) / (early2020Total + 0.0))
		);

		// Number of NPA votes in red counties
		var numNpaRedCounties = 0.0;
		var numNpaBlueCounties = 0.0;
		// Number of NPA votes if splitting proportionally between D-R ratios
		var numNpaSplitR = 0.0;
		var numNpaSplitD = 0.0;
		var numNpaTotal = 0.0;

		$.each(liveData, function (county, data) {
			if (county === "TOTAL" || county === "TIMESTAMP") return;

			// Get the NPA total for that county and method. 
			const npaCountyLevel = getTotalWithFallback(data, 'NPA', methodType);

			// Get dem share for that county
			const demCountyLevel = getTotalWithFallback(data, 'DEM', methodType);
			const repCountyLevel = getTotalWithFallback(data, 'REP', methodType);;

			const demCountySharePct = (demCountyLevel + 0.0) / (demCountyLevel + repCountyLevel + 0.0);
			if (isNaN(demCountySharePct)) return;

			const repCountySharePct = 1.0 - demCountySharePct;
			numNpaSplitR += repCountySharePct * npaCountyLevel;
			numNpaSplitD += demCountySharePct * npaCountyLevel;
			numNpaTotal += npaCountyLevel;
		});

		const numNpaSplitRPct = pctToString(numNpaSplitR / numNpaTotal);
		const numNpaSplitDPct = pctToString(numNpaSplitD / numNpaTotal);
		const npaSplitGapPctRaw = (numNpaSplitD / numNpaTotal) - (numNpaSplitR / numNpaTotal);
		const npaSplitGapPct = pctToString(npaSplitGapPctRaw);

		// Get the 2020 equivalents. 
		var numNpaSplitR2020 = 0.0;
		var numNpaSplitD2020 = 0.0;
		var numNpaTotal2020 = 0.0;

		$.each(early2020Data, function (county, data) {
			if (county === "TOTAL" || county === "TIMESTAMP") return;
			const demCountyLevel = data['DEM'];
			const repCountyLevel = data['REP'];
			const npaCountyLevel = data['NPA'];

			const demCountySharePct = (demCountyLevel + 0.0) / (demCountyLevel + repCountyLevel + 0.0);
			const repCountySharePct = 1.0 - demCountySharePct;
			numNpaSplitR2020 += repCountySharePct * npaCountyLevel;
			numNpaSplitD2020 += demCountySharePct * npaCountyLevel;
			numNpaTotal2020 += npaCountyLevel;
		});
		const numNpaSplitRPct2020 = pctToString(numNpaSplitR2020 / numNpaTotal2020);
		const numNpaSplitDPct2020 = pctToString(numNpaSplitD2020 / numNpaTotal2020);
		const npaSplitGapPct2020Raw = (numNpaSplitD2020 / numNpaTotal2020) - (numNpaSplitR2020 / numNpaTotal2020);
		const npaSplitGapPct2020 = pctToString(npaSplitGapPct2020Raw);

		// omg, gap of gaps... 
		const npaGapGap = pctToString(npaSplitGapPctRaw - npaSplitGapPct2020Raw);

		const npaSplitStr = "<div style=\"border: 1px solid #AAAAAA; margin:3px; padding:2px; font-size: smaller;\">" +
			"<b>Split estimate</b><br/>" +
			"<i>Estimated by proportional assignment of NPAs by county R/D share</i><br />" +
			"Democrats: " + Math.floor(numNpaSplitD) + " (" + numNpaSplitDPct + ")<br/>" +
			"Republicans: " + Math.floor(numNpaSplitR) + " (" + numNpaSplitRPct + ")<br/>" +
			"Difference: (D-R) <b>" + Math.floor(numNpaSplitD - numNpaSplitR) + " (<span style=\"background-color:#faffc4;\">" + npaSplitGapPct + "</span>) </b><br/>" +
			"2020 overall split: " + numNpaSplitDPct2020 + "D - " + numNpaSplitRPct2020 + "R, gap " + npaSplitGapPct2020 +
			"</div>";



		var pctGapDesc = pctPctGap < 0 ? "Trump" : "Harris";
		var pctGapColor = pctPctGap < 0 ? "bg-red-50 border-red-500" : "bg-blue-50 border-blue-500";
		var gap2020Desc = "2020 D-R ratio: " + pctToString((demEarly2020Total + 0.0) / (early2020Total + 0.0)) + " D - " +
			pctToString((repEarly2020Total + 0.0) / (early2020Total + 0.0)) + " R, Gap: " +
			pctEarlyGap;
		var gap2024Desc = "2024 " + methodShort + " D-R ratio: " + demPct + " D - " + repPct + " R, Gap: " + pctGap;
		var gapAdvantage = "Advantage: <strong>" + pctGapDesc + " by " + pctToString(Math.abs(pctPctGap)) + "</strong>";

		const addendum = "<div class='rounded px-4 py-2 border " + pctGapColor + "'>" + gapAdvantage + "</div>";

		$('#countMethod').text(methodText);
		$('#countMethodDetails').text(methodTextDetails);
		$('#countTOTAL').html("<strong>" + formatNumber(total) + "</strong>");
		$('#countTOTALdetails').html("<div class='text-sm'>" + turnoutPct + " of 2020 total turnout</div><div class='text-sm'>" + earlyPct + " of 2020 early turnout</div>" + "<div class='mt-4 text-sm'>D-R gap (raw): <b>" + gap + "</b></div>");
		$('#addendum').html(addendum);
		$('#countDEM').html(demTotal + " (" + demPct + ")<br/>" + bidenPct + " of 2020 Biden votes<br/>" + demEarlyPct + " of 2020 early Democrat votes" + cannibalizationBlurb('DEM'));
		$('#countNPA').html(npaTotal + " (" + npaPct + ")<br />" + npaEarlyPct + " of 2020 early NPA votes" + cannibalizationBlurb('NPA') + npaSplitStr);
		$('#countREP').html(repTotal + " (" + repPct + ")<br/>" + trumpPct + " of 2020 Trump votes<br />" + repEarlyPct + " of 2020 early Republican votes" + cannibalizationBlurb('REP'));
	}


	// Get denominator from county given type
	// Possible types are: 
	// ev -> early votes (mail + early, total)
	// trumpVotes -> Trump votes 2020
	// bidenVotes -> biden votes 2020
	// total -> 2020 votes
	// earlyTOTAL -> early 2020 votes
	// earlyDEM -> early 2020 dem votes
	// earlyREP -> early 2020 rep votes
	// earlyNPA -> early 2020 npa votes
	function getDenominator(type) {
		console.log("getDenominator called for " + type);
		var lookup = {};
		if (type === "ev") {
			$.each(liveData, function (k, v) {
				if (k === "TIMESTAMP") return;
				if ('TOTAL' in v) {
					if (methodType in v['TOTAL']) {
						lookup[k] = v['TOTAL'][methodType];
					} else {
						console.log(methodType + " not available for " + k);
					}
				} else {
					console.log("Error looking up total for " + k);
				}
			});
		} else if (type.includes("early")) {
			const party = type.replace("early", "");
			$.each(early2020Data, function (k, v) {
				lookup[k] = v[party];
			});
		} else if (type.includes("reg2024")) {
			const party = type.replace("reg2024", "");
			$.each(election2020Data, function (county, v) {
				lookup[fips_to_name[county]] = v["registration2024"][party]
			});
		} else {
			$.each(election2020Data, function (k, v) {
				lookup[fips_to_name[k]] = v[type];
			});
		}
		return lookup;
	}





	// Handle split ratio separately.
	function doSplit(isAdvantage) {
		var repNums = getNumerator("REP");
		var demNums = getNumerator("DEM");
		var npaNums = getNumerator("NPA");
		var totalNums = getNumerator("TOTAL");
		resetHover();

		$.each(demNums, function (k, v) {
			const myid = counties[k];

			if (!myid || !totalNums[k] || totalNums[k] <= 0 || !repNums[k]) {
				console.log("Unknown total: " + k);
				return;
			}

			const demPct = (v + 0.0) / (totalNums[k] + 0.0);
			const demPct2020 = election2020Data[name_to_fips[k]]['bidenPct'];
			const repPct = (repNums[k] + 0.0) / (totalNums[k] + 0.0);
			const repPct2020 = election2020Data[name_to_fips[k]]['trumpPct'];

			const demEarlyPct = early2020Data[k]['DEMpct'];
			const repEarlyPct = early2020Data[k]['REPpct'];
			const npaEarlyPct = early2020Data[k]['NPApct'];
			const partyDiff = (v - repNums[k]);
			var partyDiffDesc = partyDiff < 0.0 ? ("" + partyDiff) : ("+" + partyDiff);
			partyDiffDesc = " (" + partyDiffDesc + ")";
			//console.log(k + ":" + pctToString(demPct) + "-" + pctToString(repPct));

			// Fill in the hover. 
			var methodStr = "All votes";
			if (methodType === "Mail") {
				methodStr = "Mail votes";
			} else if (methodType === "EarlyVoting") {
				methodStr = "In-person votes";
			} else if (methodType === "ElectionDay") {
				methodStr = "Election Day votes";
			}

			var gap = (demPct - repPct) - (demEarlyPct - repEarlyPct);
			var gapDesc = gap <= 0.0 ? " Advantage Trump" : "Advantage Harris";
			// raw votes 
			var gapRaw = Math.ceil((gap * totalNums[k])) * -1;
			gapDesc += " (";
			gapDesc += gap <= 0.0 ? ("+" + gapRaw) : ("" + gapRaw);
			gapDesc += " votes)";


			const splitColor = isAdvantage ? getSplitAdvantageColor(gap) : getSplitColor(repPct, demPct);
			usfljsconfig[myid].upColor = splitColor;
			usfljsconfig[myid].downColor = splitColor;
			$('#' + myid).attr({ fill: splitColor });

			usfljsconfig[myid].hover = k + "<br /><small>" +
				methodStr + ", Democrat:<b>" + v + " (" + pctToString(demPct) + ")</b><br />" +
				methodStr + ", Republican:<b>" + repNums[k] + " (" + pctToString(repPct) + ")</b><br />" +
				"2024 Difference (D-R): <b>" + pctToString(demPct - repPct) + "</b> " + partyDiffDesc + "<br />" +
				"2020 comparison: Biden: " + pctToString(demPct2020) + " Trump: " + pctToString(repPct2020) + "<br />" +
				"2020 Votes: Dem: " + pctToString(demEarlyPct) + " Rep: " + pctToString(repEarlyPct) + " NPA:" + pctToString(npaEarlyPct) + "<br />" +
				"2020 Difference (D-R): <b>" + pctToString(demEarlyPct - repEarlyPct) + "</b><br />" +
				"2024-2020 Vote Gap: <b>" + pctToString(Math.abs(gap)) + "</b>, " + gapDesc + "<br />" +

				"</small>";
		});

	}

	function doUpdate() {
		$('#turnoutFilter').val(turnoutType);
		$('#methodFilter').val(methodType);
		$('#partyFilter').val(partyType);


		// This is the easy denominator - 
		// we just color on a gradient. 
		if (turnoutType.includes("turnout2020")) {
			// trumpVotes -> Trump votes 2020
			// bidenVotes -> biden votes 2020
			// total -> 2020 votes
			var pct = {}
			if (turnoutType.includes("Trump")) {
				pct = getPercentages(partyType, "trumpVotes");
			} else if (turnoutType.includes("biden")) {
				pct = getPercentages(partyType, "bidenVotes");
			} else {
				pct = getPercentages(partyType, "total");
			}
			colorGradient(partyType, pct);
		}
		else if (turnoutType.includes("early2020")) {
			// early2020TOTAL, early2020REP, early2020DEM, early2020NPA
			const denomType = turnoutType.replace("2020", "");
			pct = getPercentages(partyType, denomType);
			colorGradient(partyType, pct);
		} else if (turnoutType.includes("reg2024")) {
			pct = getPercentages(partyType, turnoutType);
			colorGradient(partyType, pct);
		} else if (turnoutType === "allEarly") {
			var pct = getPercentages(partyType, "ev");
			colorGradient(partyType, pct);
		}
		else if (turnoutType.includes("split")) {
			if (turnoutType === "split") {
				doSplit(false);
			} else if (turnoutType === "splitAdvantage") {
				doSplit(true);
			}
		}

		/*			var test = getPercentages('REP', 'ev');
				colorGradient('REP', test);
		*/
		updateTotals();
		$.each(counties, function (k, v) {
			$('#' + v).mouseenter().mouseleave();
		});
	}

	$(document).ready(function () {
		$.getJSON('https://raw.githubusercontent.com/joeisdone/joeisdone.github.io/master/json/pennsylvania.json', function (data) {
			liveData = data;
			const timestamp = liveData['TIMESTAMP'].replace(' EST', '');
			const date = new Date(timestamp);
			const options = {
				weekday: 'short',
				month: 'short',
				day: 'numeric',
				year: 'numeric',
				hour: 'numeric',
				minute: '2-digit',
				timeZoneName: 'short'
			};
			$('#timestamp').text(date.toLocaleString('en-US', options));
			$.getJSON('https://joeisdone.github.io/json/pennsylvania2020_reg.json', function (data2020) {
				election2020Data = data2020;
				$.getJSON('https://joeisdone.github.io/json/pa_early2020_revised.json', function (early2020) {
					early2020Data = early2020;

					$.each(usfljsconfig, function (key, value) {
						if (!key || !value || !(value.hover)) {
							return;
						}
						countyName = key;
						value.hover = countyName;
						counties[countyName] = key;
					});

					$('#partyFilter').change(function () {
						partyType = this.value;
						doUpdate();
					});

					$('#turnoutFilter').change(function () {
						turnoutType = this.value;
						doUpdate();
					});

					$('#methodFilter').change(function () {
						methodType = this.value;
						doUpdate();
					});

					doUpdate();
				});
			});

		});



	});
</script>

<h1>Pennsylvania early voting statistics</h1>
<p class="text-sm mb-4">Updated daily. Last update: <span id="timestamp"></span></p>

{% include update.html %}

{% include total_votes.html %}

<table>
	<tr>
		<td><b><span id="countMethod"></span></b></td>
		<td><b>Democrat</b></td>
		<td><b>Republican</b></td>
		<td><b>Unaffiliated</b></td>
	</tr>
	<tr>
		<td><span id="countTOTAL"></span></td>
		<td><span id="countDEM"></span></td>
		<td><span id="countREP"></span></td>
		<td><span id="countNPA"></span></td>
	</tr>
</table>

️
</small>

<div class="flex flex-col md:flex-row md:gap-4">
	<aside class="order-2 md:order-1">
		<div class="flex gap-1">
			<!-- <button onclick="methodType='ElectionDay';turnoutType='split';doUpdate();">Election Day votes only</button><br /> -->
			<button onclick="methodType='Mail';turnoutType='split';doUpdate();">Early votes: Mail only</button>
			<br /><button onclick="methodType='total';turnoutType='splitAdvantage';doUpdate();">Advantage
				Map</button>
		</div>
		RECOMMENDED,
		shade map by advantage relative to 2020. <br />


		<br /><button onclick="methodType='total';turnoutType='early2020DEM';partyType='DEM';doUpdate();">Compare 2024
			Democrat
			votes vs. 2020 Democrat EV</button><br />
		See where Democrats are turning out vs 2020.<br />
		<br /><button onclick="methodType='total';turnoutType='early2020REP';partyType='REP';doUpdate();">Compare 2024
			Republican
			votes vs. 2020 Republican EV</button><br />
		See where Republicans are turning out vs. 2020.<br />
		<br /><button onclick="methodType='total';turnoutType='early2020NPA';partyType='NPA';doUpdate();">Compare 2024
			unaffiliated
			votes vs. 2020 unaffiliated EV</button><br />
		See where Independents are turning out vs. 2020.<br />
		<br /><button onclick="methodType='total';turnoutType='early2020TOTAL';partyType='TOTAL';doUpdate();">Compare
			all 2024
			votes
			vs. 2020 votes</button><br />
		See where turnout is happening vs. 2020.
		<br />
		<br /><button onclick="methodType='total';turnoutType='reg2024DEM';partyType='DEM';doUpdate();">Compare 2024
			Democrat
			early
			votes vs. Democrat active registrations</button><br />
		See where Democrats are turning out vs 2020.<br />
		<br /><button onclick="methodType='total';turnoutType='reg2024REP';partyType='REP';doUpdate();">Compare 2024
			Republican
			early
			votes vs. Republican active registrations</button><br />
		See where Republicans are turning out vs.
		2020.<br />
		<br /><button onclick="methodType='total';turnoutType='reg2024NPA';partyType='NPA';doUpdate();">Compare 2024
			unaffiliated
			early
			votes vs. unaffiliated active registrations</button><br />
		See where Independents are turning out vs.
		2020.<br />
		<br /><button onclick="methodType='total';turnoutType='reg2024TOTAL';partyType='TOTAL';doUpdate();">Compare
			all 2024 early
			votes vs. active voter registrations</button><br />
		See where turnout is happening vs. 2020.<br /></small>
		<br /><br />

		<b>Advanced</b><br />
		<small>Filter by vote type:</small> <select id="methodFilter">
			<option value="total" selected="selected">All votes</option>
			<!-- <option value="ElectionDay">Election Day votes only</option> -->
			<!-- <option value="EarlyVoting">In-person early voting only</option> -->
			<option value="Mail">Mail in votes only</option>
		</select>
		<br />

		<small>Denominator:</small> <select id="turnoutFilter">
			<option value="reg2024TOTAL">Total voter registrations</option>
			<option value="reg2024DEM">Democrat voter registrations</option>
			<option value="reg2024REP">Republican voter registrations</option>
			<option value="reg2024NPA">Unaffiliated voter registrations</option>

			<option value="early2020TOTAL">2020 total votes</option>
			<option value="early2020DEM">2020 Democrat votes</option>
			<option value="early2020REP">2020 Republican votes</option>
			<option value="early2020NPA">2020 unaffiliated votes</option>
			<option value="turnout2020">2020 total votes</option>
			<option value="turnout2020biden">2020 biden votes</option>
			<option value="turnout2020Trump">2020 Trump votes</option>
			<option value="allEarly">All party early votes</option>
			<option value="splitAdvantage">Advantage split (ignores party)</option>
			<option value="split" selected="selected">R/D split (ignores party)</option>
		</select>
		<br />

		<small>Filter by party:</small> <select id="partyFilter">
			<option value="NPA">NPA (unaffiliated)</option>
			<option value="REP">Republican</option>
			<option value="DEM">Democrat</option>
			<option value="TOTAL" selected="selected">All parties</option>
		</select>
	</aside>
	<div>
		<span id="usfljstip"></span>
		<div id="mapwrapper">
			<div id="mapbase"><!-- V4.1 -->
				{% include map-pennsylvania.html %}
			</div>
		</div>
	</div>
</div>

<div id="dataTable"></div>
<a href="https://joeisdone.github.io/">Back to JoeIsDone</a>